.cart{
  background-color: rgb(135, 144, 142);
  padding: 15px;
  height: 100%;
  position:fixed ;
  margin-bottom: 0%;
  width: 15%;
  box-shadow: 1px 7px 9px rgb(3, 28, 32);
  
  
}
.cart p{
  font-size: 17px;
}
.text-color{
  color: #ab2800;
}
.btn-clear-cart{
  display: flex;
  justify-content: space-between;
  background-color: rgb(190, 2, 2);
  height: 7%;
  width: 100%;
  color: #fffefe;
  border-radius: 8px;
  
}
.clear-cart{
  margin-top: 8%;
}
.icon-clear{
  margin-top: 10%;
  margin-right: 5%;
}
.btn-review-cart{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 92, 7);
  height: 7%;
  width: 100%;
  color: #fffefe;
  border-radius: 8px;
}
.review-cart{
  margin-top: 8%;
}
.icon-review{
  margin-top: 10%;
  margin-right: 5%;
}