.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products_container{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  gap: 45px;

}
.button-proceed{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 163, 4);
  height: 50px;
  width: 150px;
  color: #100f0f;
  border-radius: 8px;
  padding: 5%;
}
.button-proceed:hover{
  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 88, 8);
  height: 50px;
  width: 150px;
  color: #fefefe;
  border-radius: 8px;
  padding: 5%;
  transition: .2s;
}
.right-icon{
  margin-top: 10%;
  padding: 2%;
}