.Contact{
  text-align: center;
  color: rgb(13, 42, 48);
}
.Contact :hover{
  text-align: center;
  color: rgb(6, 110, 68);
}


.Contact_text{
  margin: 3%;
  color: rgb(9, 34, 19);
  padding-left: 2%;
  padding-right: 2%;
  
}
.input_text{
  margin: 5%;
  display: grid;
  background-color: rgb(106, 117, 125);
  padding: 5%;
  border-radius: 5px;
}
#text{
  margin-top: 1%;
  margin-left: 30%;
  width: 50%;
  text-align: center;
  height: 30px;
  border-radius: 5px;
}
#email{
  margin-top: 1%;
  margin-left: 30%;
  width: 50%;
  text-align: center;
  height: 30px;
  border-radius: 5px;
}
#feed{
  margin-top: 1%;
  margin-left: 30%;
  width: 50%;
  text-align: center;
  height: 100px;
  border-radius: 5px;
}
#submit{
  height: 30px;
  width: 80px;
  margin-left: 70%;
  margin-top: 2%;
  background-color: rgb(255, 255, 255);
}
#submit:hover{
  height: 30px;
  width: 80px;
  margin-left: 70%;
  margin-top: 2%;
  background-color: rgb(70, 70, 71);
  color: rgb(253, 248, 248);
}
#Business{
  text-align: center;
  color: rgb(65, 75, 82);
  
}
.time{
  text-align: center;
}
.live_time{
  text-align: center;
  background-color: rgb(233, 243, 241);
  width: 30%;
  margin-left: 40%;
}
