.footer{
  background-color: rgb(65, 93, 99);
  /* padding: 2%; */
}
.firstFooter{
  background-color: rgb(68, 83, 78);
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
#FooterEmail{
  width: 30%;
  height: 30px;
  border-radius:5px ;
  
}
#footer_button{
  height: 30px;
  width: 100px;
  margin: 2%;
  color: black;
  /* margin-top: 2%; */
}
#footer_button:hover{
  height: 30px;
  width: 100px;
  margin: 2%;
  background-color: rgb(43, 43, 44);
  color: rgb(255, 255, 255);
  /* margin-top: 2%; */
}
.footer_box{
  display: grid;
  margin-left: 40%;
}